<!-- <div class="article-container">
    <img [src]="article.imageUrl">
    <p>
        <b>Article ID: </b>
        {{ article.id }}
    </p>
    <p>
        <b>Title: </b>
        {{ article.title }}
    </p>
    <p>
        <b>Short description: </b>
        {{ article.shortDescription}}
    </p>
</div> -->

<div class="card" id="{{ article.id }}">
    <div class="card-body">
        <h5 class="card-header">{{ article.title }}</h5>
        <h5 class="card-title">{{ article.shortDescription }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Article from the rubric: {{ article.rubric}}</h6>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>