<!-- <div class="article-container">
    <img [src]="article.imageUrl">
    <p>
        <b>Article ID: </b>
        {{ article.id }}
    </p>
    <p>
        <b>Title: </b>
        {{ article.title }}
    </p>
    <p>
        <b>Short description: </b>
        {{ article.shortDescription}}
    </p>
</div> -->

<div class="card appcard" id="{{ article.id }}">
    <div class="card-body">
        <h5 class="card-title" [ngClass]="{ titleColor: isColorGrey }" (click)="changeColor()">{{ article.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ article.shortDescription }}</h6>
        <p class="card-text">Article from the rubric: {{ article.rubric }}</p>
        <div class="row">
            <div class="col-sm-3">
                <p>
                    Enter the rubric 
                </p>
            </div>
            <div class="col-sm-9">
                <input type="text" [(ngModel)]="article.rubric" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        
    </div>
</div>